  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* Adjust the height as needed */
    background-color: #f0f0f0;
  }
  
  .title h1 {
    text-align: center;
    margin: 0;
  }
  .container {
    display: flex;
    height: calc(100vh - 350px); /* Adjust the height as needed */
  }
  
  .content {
    flex-grow: 1;
  }
  