<div class="title">
  <!-- Title content goes here -->
  <h1>Lauri's Gaming Website!</h1>
</div>
<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <!-- Navigation content goes here -->
    <h1>Links</h1>
    <ul>
      <li><a routerLink="/game">Game</a></li>
      <li><a routerLink="/highscores">High Scores</a></li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
